@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Moon+Dance&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blog-page {
    background-color: #211832;
    overflow-x: hidden;
}

.header {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    background: transparent;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 100;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: flex;
    gap: 200px;
    padding: 5px;
    border-radius: 30px;
    border: #dec1db 2px solid;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    align-items: center;
    height: 40px;
}

.navbar p.active {
    background: #dec1db;
    color: #5b61b2;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 30px;
    width: 100px;
}

.header p {
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    font-weight: 600;
    text-align: center;
    width: 100px;
}

.header p:hover {
    color: #c187bb;
}

.logo {
    width: 150px;
    position: fixed;
    padding-left: 30px;
    padding-bottom: 30px;
    bottom: 10px;
    cursor: pointer;
}

.hero {
    background: url('./pictures/portfolio-bg.svg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    align-items: flex-end;  
    padding-right: 30px;
}

.hero-text {
    display: flex;
    gap: 10px;
    align-items: center;

    animation: backInRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

.hero h1 {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 110px;
}

.moon-dance-text {
    font-family: "Moon Dance", cursive;
    font-size: 200px;
    color: #EFD968;
}

.about-section {
    background: #dec1db;
    padding: 70px 100px;
}
    
.about-section h1 {
    color: #5b61b2;
    font-family: 'Playfair Display', serif;
    font-size: 90px;
    margin-bottom: 20px;
}

.about-section p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 200px;
}

.magenta-horizontal-line {
    background-color: #c187bb;
    height: 10px;
    width: 200px;
    margin-bottom: 20px;
}

.magenta-line {
    background-color: #c187bb;
    height: 150px;
    width: 50px;
}

.pink-line {
    background-color: #dec1db;
    height: 5px;
    width: 450px;
    margin-left: 90px;
    border-radius: 2px;
}

.tips-section {
    background-color: #5b61b2;
    padding: 130px 100px;
}

.tips-section h1 {
    color: #dec1db;
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    margin-bottom: 10px;
    text-align: center;
}

.tips-list {
    display: flex;
    gap: 50px;
}

.top-1,
.top-2,
.top-3 {
    margin-top: 50px;
    align-items: center;
    gap: 100px;
    padding: 30px;
    border: white 2px solid;
    transition: all ease 0.3s;
    border-radius: 10px;
}

.top-1:hover,
.top-2:hover,
.top-3:hover {
    transform: translateY(-4px); 
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}

.top-1 h1,
.top-2 h1,
.top-3 h1 {
    font-family: "Moon Dance", cursive;
    font-size: 70px;
    color: #EFD968;
    text-align: left;
}

.top-1 h2,
.top-2 h2,
.top-3 h2 {
    color: #dec1db;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin-bottom: 10px;
}

.top-1 p,
.top-2 p,
.top-3 p {
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif !important;
}

.tips-bttn {
    color: white;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 15px;
    border: white 1px solid;
    cursor: pointer;
    border-radius: 30px;
    transition: all ease 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.tips-bttn:hover {
    background-color: #dec1db;
    color: #5b61b2;
    box-shadow: 0px 2px 7px rgba(255, 255, 255, 0.566);
}

.top-2 .read-more-bttn {
    color: white;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 15px;
    border: white 1px solid;
    cursor: pointer;
    border-radius: 30px;
    transition: all ease 0.3s;
}

.top-2 .read-more-bttn:hover {
    background-color: #dec1db;
    color: #5b61b2;
    box-shadow: 0px 2px 7px rgba(255, 255, 255, 0.566);
}

.references-section {
    background: #dec1db;
    padding: 50px 100px;
}

.references-section h1 {
    color: #5b61b2;
    font-size: 40px;
}

.ref-list {
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    font-size: 18px;
}

.ref-list li {
    margin-bottom: 20px;
    list-style-type: none;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow: hidden;
}

.modal-content {
    background: white;
    border-radius: 20px;
    padding: 50px 70px;
    width: 700px;
    font-family: 'Montserrat', sans-serif;
    transition: all ease 0.2s;
    animation: slideInUp;
    animation-duration: 0.7s;
}

.close-modal-area {
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 5px 0;
}

.close-modal-area span {
    color: #5b61b2;
    cursor: pointer;
    font-weight: 500;
    transition: all ease 0.3s;
}

.close-modal-area span:hover {
    font-weight: 700;
}

.modal-content h3 {
    font-size: 22px;
    color: #5b61b2;
    font-weight: 600;
    margin-bottom: 5px;
}

.modal-content p {
    margin-bottom: 15px;
    margin-left: 25px;
    font-size: 18px;
}